#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin: auto;
    outline-style: solid;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    height: 50px;
    width: 100px;
}

div.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}